<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>com.wst.servlet.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineQuote</servlet-name>
        <servlet-class>com.wst.servlet.OnlineQuote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query</servlet-name>
        <servlet-class>com.wst.servlet.Query</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickQuote</servlet-name>
        <servlet-class>com.wst.servlet.QuickQuote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allusers</servlet-name>
        <servlet-class>com.wst.servlet.allusers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userdetails</servlet-name>
        <servlet-class>com.wst.servlet.userdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeUser</servlet-name>
        <servlet-class>com.wst.servlet.WelcomeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allusersonlinequote</servlet-name>
        <servlet-class>com.wst.servlet.allusersonlinequote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alluserquickquote</servlet-name>
        <servlet-class>com.wst.servlet.Alluserquickquote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteloginuser</servlet-name>
        <servlet-class>com.wst.servlet.deleteloginuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userdetailquote</servlet-name>
        <servlet-class>com.wst.servlet.userdetailquote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allusersquery</servlet-name>
        <servlet-class>com.wst.servlet.allusersquery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userdetailsquery</servlet-name>
        <servlet-class>com.wst.servlet.userdetailsquery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userdetailquickquote</servlet-name>
        <servlet-class>com.wst.servlet.userdetailquickquote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteonline</servlet-name>
        <servlet-class>com.wst.servlet.deleteonline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletequery</servlet-name>
        <servlet-class>com.wst.servlet.deletequery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletequickquote</servlet-name>
        <servlet-class>com.wst.servlet.deletequickquote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser2</servlet-name>
        <servlet-class>com.wst.servlet.LoginUser2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>onlineQuotationListItem</servlet-name>
        <servlet-class>com.wst.servlet.onlineQuotationListItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>com.wst.servlet.logincheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineQuote</servlet-name>
        <url-pattern>/OnlineQuote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query</servlet-name>
        <url-pattern>/Query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickQuote</servlet-name>
        <url-pattern>/QuickQuote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allusers</servlet-name>
        <url-pattern>/allusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userdetails</servlet-name>
        <url-pattern>/ud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser2</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeUser</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allusersonlinequote</servlet-name>
        <url-pattern>/auonlinequote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alluserquickquote</servlet-name>
        <url-pattern>/auqquote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteloginuser</servlet-name>
        <url-pattern>/dul</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userdetailquote</servlet-name>
        <url-pattern>/udquote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allusersquery</servlet-name>
        <url-pattern>/auqueryy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userdetailsquery</servlet-name>
        <url-pattern>/udquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userdetailquickquote</servlet-name>
        <url-pattern>/udqq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteonline</servlet-name>
        <url-pattern>/delonline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletequery</servlet-name>
        <url-pattern>/delquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletequickquote</servlet-name>
        <url-pattern>/delqq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>onlineQuotationListItem</servlet-name>
        <url-pattern>/onlineQuotationListItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
